* {
  font-family: "Signika Negative", sans-serif;
}

body {
  margin: 0;
  background-color: #c9daea;
}

.App {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project--title {
  font-size: 32px;
  font-weight: 300;
}

.projectcontainer {
  display: flex;
  color: #3a3335;
}
