:root {
  --blackCoffee: #3A3335;
  --blueCrayola: #0075F2;
  --beauBlue: #C9DAEA;
  --mauve:#F4A5AE;
  --canary: #FFFD98;
}

* {
  font-family: "Signika Negative", sans-serif;
  cursor: default;
}

body {
  margin: 0;
  
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.project--title {
  font-size: 32px;
  font-weight: 300;
  color: var(--blackCoffee);
  margin: 0;
}

.project--title-dark {
  font-size: 32px;
  font-weight: 300;
  color: var(--mauve);
}

.projectcontainer {
  display: flex;
  color: #3a3335;
}
