.about--container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3a3335;
}

.about--picture {
    width: 180px;
    border-radius: 100%;
    box-shadow: 0px 1px 10px 0px #3a3335;
}

.about--para {
    margin-top: 30px;
    text-align: justify;
    height: auto;
    width: 250px;
    line-height: 150%;
    font-weight:900;
    letter-spacing: 200%;
    font-size: 14px;
    border-radius: 10px;
    padding: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 1px 10px 0px #3a3335;
}

@media (min-width: 600px) {
    .about--picture {
        width: 300px;
    }

    .about--para {
        font-size: 18px;
        width: 500px;
    }
}

