:root {
  --blackCoffee: #3A3335;
  --blueCrayola: #0075F2;
  --beauBlue: #C9DAEA;
  --mauve:#F4A5AE;
  --canary: #FFFD98;
}

.header {
  background-color: var(--blackCoffee);
  margin: 0;
  height: 100px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: sticky;
  top: 0;
}

.header--name {
  color: var(--mauve);
  font-weight: 300;
  margin: 0;
  margin-right: auto;
  margin-left: 15px;
}

.header--icongroup {
  width: 100px;
}

.header--icon {
  margin-right: 5px;
  text-decoration: none;
  color: var(--mauve);
}

.header--icon:hover {
  cursor: pointer;
  color: var(--beauBlue)
}

@media (min-width: 600px) {
  .header {
    height: 150px;
  }

  .header--icongroup {
    width: auto;
  }

  .header--icon {
    margin-right: 15px;
  }

  .header--name {
    font-size: 56px;
  }
}

@media (min-width: 740px) {
  .linebreak {
    display: none;
  }
}