.header--name {
  color: #3a3335;
  margin: 0;
  margin-right: auto;
  margin-left: 15px;
}

.header--name:hover {
  color:#ef7b45;
  cursor: default ;
}

.header {
  background-color: whitesmoke;
  box-shadow: 0px 1px 10px 0px #3a3335;
  margin: 0;
  height: 100px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.header--icon {
  margin-right: 5px;
  text-decoration: none;
  color: #3a3335;
}

.header--icongroup {
  width: 100px;
}

.header--icon:hover {
  cursor: pointer;
  color: #ef7b45
}

@media (min-width: 600px) {
  .header {
    height: 150px;
  }

  .header--icongroup {
    width: auto;
  }

  .header--icon {
    margin-right: 15px;
  }

  .header--name {
    font-size: 56px;
  }
}
