:root {
    --blackCoffee: #3A3335;
    --blueCrayola: #0075F2;
    --beauBlue: #C9DAEA;
    --mauve:#F4A5AE;
    --canary: #FFFD98;
  }

.projectcard {
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--mauve);
    color: var(--blackCoffee);
    box-shadow: 0px 1px 10px 0px var(--blackCoffee);
    margin: 45px;
    border-radius: 10px;
    height: auto;
    font-weight: 300;
}

.projectcard-dark {
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--mauve);
    color: var(--blackCoffee);
    box-shadow: 0px 1px -10px 0px var(--blackCoffee);
    box-shadow: 0px 1px 10px 0px ;
    margin-bottom: 25px;
    border-radius: 10px;
    height: auto;
    font-weight: 300;
}

.projectcard--image {
    width: 200px;
    margin-top: 20px;
    border: solid 1px lightgray;
    border-radius: 10px;
    align-self: center;
}

.projectcard--text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    width: 100%;
    margin-right: 20px;
    line-height: 1.4;
}

.projectcard--title {
    margin: 0;
    font-weight: 300;
}

.projectcard--buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.projectcard--buttons button {
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 10px 0px var(--blackCoffee);
    cursor: pointer;
    font-weight: 300;
    color: var(--blackCoffee)
}

.projectcard--buttons button:hover {
    background-color: var(--beauBlue);
}

@media (min-width: 600px) {
    .projectcard {
        width: 500px;
        flex-direction: row;
    }

    .projectcard-dark {
        width: 500px;
        flex-direction: row;
    }

    .projectcard--image {
        width: 200px;
        border: solid 1px lightgray;
        border-radius: 10px;
    }
}